<% if @updated == true %>
    $('#messages').html('')
    <% if @incident.draft %>
        <% if @add_patron == true %>
            $('#add_patron').html("<%= escape_javascript(render 'patron_form')%>")
            $('#no_patron_div').hide()
            $('#add_patron').show()
            $('#incident_id').html('<%= @incident.id %>')
            $('#add_patron_to_incident_button').hide()
        <% else %>
            $('#messages').html('<p class="text-success">Incident successfully saved as a draft.</p>')
            setTimeout(function(){ window.location.href="/incidents/view?id=<%= escape_javascript(@incident.id)%>" }, 1400);
        <% end %>
    <% else %>
        <% if @add_patron == true %>
            $('#add_patron').html("<%= escape_javascript(render 'patron_form')%>")
            $('#no_patron_div').hide()
            $('#add_patron').show()
            $('#incident_id').html('<%= @incident.id %>')
            $('#add_patron_to_incident_button').hide()
        <% else %>
            <% if @new_publish == true %>
                $('#messages').html('<p class="text-success">Incident successfully published.</p>')
            <% else %>
                $('#messages').html('<p class="text-success">Incident successfully updated.</p>')
            <% end %>
            setTimeout(function(){ window.location.href="/incidents/view?id=<%= escape_javascript(@incident.id)%>" }, 1400);
        <% end %>
    <% end %>
<% else %>
    $('#messages').html('')
    <% @incident.errors.messages.values.flatten.each do |e| %>
        $("#messages").append( '<p class="text-danger">Error: <%= escape_javascript(e) %></p>' );
    <% end %>
<% end %>