<div id="patron_<%= @patron.id %>" class="patron_violation_form mb-3 mt-3">
    <h4>
        <%= @patron.full_name %>            
        <button type="button" class="btn btn-danger btn-sm mb-1" onclick="remove_patron_from_incident(<%= @patron.id %>)">
            <%= icon('fa-solid', 'xmark') %>
        </button>
    </h4>     

    <div id="patron_violations_<%= @patron.id %>" class="mb-3">
        <%= render 'violation_per_incident' %>
    </div>

    <button type="button" class="btn btn-sm btn-danger mb-3" onclick="show_violation_modal('A', <%= @patron.id %>)">Add A Level Violations</button>
    <button type="button" class="btn btn-sm btn-warning mb-3" onclick="show_violation_modal('B', <%= @patron.id %>)">Add B Level Violations</button>

    <div id="violation_modal_containter_<%=@patron.id %>"></div>
</div>