<div class="row mt-3" id="name_div">
    <div class="col-lg-4 col-sm">
        <label for="first_name_<%= patron.id %>" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first_name_<%= patron.id %>" value="<%= patron.first_name %>" autocomplete="off">
    </div>
    <div class="col-lg-4 col-sm">
        <label for="middle_name_<%= patron.id %>" class="form-label">Middle Name</label>
        <input type="text" class="form-control" id="middle_name_<%= patron.id %>" value="<%= patron.middle_name %>" autocomplete="off">
    </div>
    <div class="col-lg-4 col-sm">
        <label for="last_name_<%= patron.id %>" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last_name_<%= patron.id %>" value="<%= patron.last_name %>" autocomplete="off">
    </div>
</div>
<div class="row mt-3" id="alias_div">
    <div class="col-lg-4 col-sm">
        <label for="alias_<%= patron.id %>" class="form-label">Alisa</label>
        <input type="text" class="form-control" id="alias_<%= patron.id %>" value="<%= patron.known_as %>" autocomplete="off">
    </div>
</div>
<div class="row mt-3" id="address_div">
    <div class="col-lg-5 col-sm">
        <label for="address_<%= patron.id %>" class="form-label">Address</label>
        <input type="text" class="form-control" id="address_<%= patron.id %>" value="<%= patron.address %>" autocomplete="off">
    </div>
    <div class="col-lg-3 col-sm">
        <label for="city_<%= patron.id %>" class="form-label">City</label>
        <input type="text" class="form-control" id="city_<%= patron.id %>" value="<%= patron.city %>" autocomplete="off">
    </div>
    <div class="col-lg-1 col-sm">
        <label for="state_<%= patron.id %>" class="form-label">State</label>
        <input type="text" class="form-control" id="state_<%= patron.id %>" value="<%= patron.state %>" autocomplete="off">
    </div>
    <div class="col-lg-2 col-sm">
        <label for="zip_<%= patron.id %>" class="form-label">Zip Code</label>
        <input type="text" class="form-control" id="zip_<%= patron.id %>" value="<%= patron.zip %>" autocomplete="off">
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-5 col-sm">
        <label for="card_number_<%= patron.id %>" class="form-label">Library Card #</label>
        <input type="text" class="form-control" id="card_number_<%= patron.id %>" value="<%= patron.card_number %>" autocomplete="off">
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-lg-12 col-sm">
        <label for="patron_description_<%= patron.id %>" class="form-label">Description</label>
        <textarea class="form-control" id="patron_description_<%= patron.id %>" rows="4" autocomplete="off"><%= patron.description %></textarea>
    </div>
</div>
<div class="mb-3">
    <div class="row mt-3" id="patron_pics_<%= patron.id %>">
        <%= render 'patrons/patron_pics', patron: patron %>
    </div>
<div class="mb-3">
    <label for="image" class="form-label">Add Images to Patron Record</label>
    <br>
    <%= file_field_tag ('patron_images_' + patron.id.to_s ), multiple: true, accept: 'image/png,image/gif,image/jpeg', autocomplete: "off" %>
    <br>
    <button class="btn-small btn-secondary mt-3" onclick="cancel_patron_images()">Cancel Image Upload</button>
</div>
<div id="patron_messages" class="mb-3">
</div>