<div class="row mt-3 mb-2">
    <div class="col-lg-3">
        <% if p.images.size >= 1 %>
            <% if stub == true %>
                <a href="<%= url_for(p.images.first) %>>" target="_blank">
                    <%= image_tag p.images.first.variant(:thumb), class: 'img-thumbnail', style: 'width: 250px' %>
                </a>
            <% else %>
                <% p.images.each do |pic| %>
                    <a href="<%= url_for(pic) %>>" target="_blank">
                        <%= image_tag pic.variant(:thumb), class: 'img-thumbnail', style: 'width: 250px' %>
                    </a>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <div class="col-lg-9">
        <h5>
            <%= p.full_name %>
            <% if p.is_suspended %>
                - Suspended Until <%= p.suspended_until %>
            <% end %> 
        </h5>
        <% if p.description && !p.description.blank? %>
            <b>Description:</b>
            <br>
            <%= p.description %>
            <br>
        <% end %>
        <% if !p.full_address.blank? %>
            <b>Address:</b>
            <br>
            <%= p.full_address%>
            <br>
        <% end %>
        <% if p.card_number && !p.card_number.blank? %>
            <b>Library Card #:</b>
            <br>
            <%= p.card_number %>
            <br>
        <% end %>
        <% if p.incidents.size >= 1 %>
            <% if stub == true %>
                <b>Most Recent Incidents</b>
            <% else %>
                <b>Incidents:</b>
            <% end %>
            <br>
            <% if stub == true %>
                <% incidents = p.unique_incidents.first(2) %>
            <% else %>
                <% incidents = p.unique_incidents %>
            <% end %>
            <% incidents.each do |i| %>
                    <%= i.date_of_in_time_zone_minus_time %> <b><a href="/incidents/view?id=<%=i.id%>" target="_blank"><%= i.title %></b></a>
                    <div class="ms-3">
                        <b>Violations:</b>
                        <ul>
                            <% p.violations_per_incident(i.id).each do |v| %>
                                <li><%= v.description %></li>
                            <% end %>
                        </ul>
                        <% if p.suspension_for(i.id) %>
                            <b>Suspended for this Incident Until:</b> <%= p.suspension_for_details(i.id) %>
                        <% end %> 
                    </div>
            <% end %>
        <% end %>
        <div class="mt-3">
            <% if stub == true %>
                <a href="/patrons/view?id=<%= p.id %>" class="btn btn-primary mb-3"><%= icon('fa-solid', 'eye') %> View Full Patron Record</a>
            <% end %>
            <a href="/patrons/edit?patron_id=<%= p.id %>" class="btn btn-secondary mb-3"><%= icon('fa-solid', 'pen') %> Edit Patron Record</a>
        </div>
    </div>
</div>
