<% @patrons.each do |p| %>
    <div class="row mt-3 mb-3">
        <div class="col-lg-3">
            <% if p.images.first %>
                <%= image_tag p.images.first.variant(:thumb), class: 'img-thumbnail', style: 'width: 250px' %>
            <% end %>
        </div>
        <div class="col-lg-9">
            <h5><%= p.full_name %></h5>
            <% if p.description && !p.description.blank? %>
                <b>Description:</b>
                <br>
                <%= p.description %>
                <br>
            <% end %>
            <% if p.incidents.size >= 1 %>
                <b>Previous Incidents:</b>
                <br>
                <% p.unique_incidents.uniq.last(4).each do |i| %>
                        <a href="/incidents/view?id=<%=i.id%>" target="_blank"><%= i.title %></a>
                    <br>
                <% end %>
            <% end %>
            <div class="mt-3">
                <a onclick="add_existing_to_incident(<%= p.id %>)" class="btn btn-primary btn-sm"><%= icon('fa-solid', 'plus') %> Add Patron to Incident</a>
                <a href="/patrons/view?id=<%= p.id %>" class="btn btn-primary btn-sm"><%= icon('fa-solid', 'eye') %> View Full Patron Record</a>
            </div>
        </div>
    </div>
<% end %>