<div id="suspension_modal_<%= @patron.id %>" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= @title %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-lg-12 col-sm">
                        <label for="until_<%= @patron.id %>" class="form-label">Suspension End Date</label>
                        <input type="date" id="until_<%= @patron.id %>" value="<%= @suspension.until %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="letter_sent_<%= @patron.id %>" <%= am_i_checked(@suspension.letter_sent, true) %>>
                            <label class="form-check-label" for="letter_sent_<%= @patron.id %>">
                                Letter Sent
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="call_police_<%= @patron.id %>" <%= am_i_checked(@suspension.call_police, true) %>>
                            <label class="form-check-label" for="call_police_<%= @patron.id %>">
                                Call Police on Sight
                            </label>
                        </div>
                    </div>
                    <div id="suspension_letter_<%= @patron.id.to_s %>">
                        <%= render 'suspension_letter_form', patron: @patron, incident: @incident, suspension: @suspension %>
                    </div>
                </div>
            </div>
            <div id="suspension_id_<%= @patron.id %>" style="display: none"><%= @suspension.id %></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <%= icon('fa-solid', 'xmark') %> 
                    Close
                </button>
                <% if @suspension.id %>
                    <button type="button" class="btn btn-danger" onclick="delete_suspension('<%= @suspension.id %>','<%= @patron.id %>', '<%= @incident.id %>')">
                        <%= icon('fa-solid', 'trash') %> 
                        Revoke Suspension
                    </button>
                <% end %>
                <button type="button" class="btn btn-success" onclick="save_suspension('<%= @patron.id %>')">
                    <%= icon('fa-solid', 'check') %> 
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
