<h2 class="mb-3"><%= icon('fa-solid', 'person-falling-burst') %> <%= @title %> Legacy Incident Reports</h2>
<%= will_paginate @reports, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% @reports.each do |r| %>
    <%= render 'old_stub', r: r %>
<% end %>
<%= will_paginate @reports, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
