<!DOCTYPE html>
<html>
  <head>
    <title>Rails7Base</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <%= icon('fa-solid', 'user') %>
          TADL
        </a>
        <% if current_user %>
          <form class="d-flex  ms-auto" role="search">
            <span style="margin-right: 10px; color: white"><%=current_user.name %></span>
            <a class="btn btn-danger btn-sm nav-item" href="/signout">Logout</a>
          </form>
        <% else %>
          <%= button_to "Staff Login", "/auth/google_oauth2", method: :post, class: "btn btn-primary" %>
        <% end %>
      </div>    
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
